@import './smart-grid.scss';

main {
    position: relative;
    padding-bottom: 150px;
}

.top-layers {
    position: absolute;
    width: 75%;
    height: 50px;
    background: #fff;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);

    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        height: 50px;
        background: rgba(255, 255, 255, .4);
        left: 50%;
        transform: translateX(-50%);
    }

    &::before {
        width: 93%;
        top: -10px;
    }

    &::after {
        width: 83%;
        top: -20px;
    }
}

.advantages {
    padding-bottom: 100px;
    .row {
        justify-content: space-around;
    }

    &-item {
        @include col();
        @include size(7);
        @include size-md(9);
        @include size-sm(11);
        @include size-xs(22);
        max-width: 310px;

        margin: 50px 0;
        position: relative;
    }

    &-item:hover &-title {
        color: #8799a3;
    }

    &-item:hover &-icon {
        color: #8799a3;
        animation: advantages-icon-animation .5s ease-in-out 1 alternate;
    }

    &-icon {
        height: 50px;
        position: absolute;
        left: 10px;
        top: 0;
    }

    &-text {
        box-sizing: border-box;
        padding-left: 80px;
    }

    &-title {
        color: #252525;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        line-height: 1.4em;
        margin-bottom: 20px;
        transition: color .2s;
    }

    &-desc {
        font: 18px 'Comfortaa';
        color: #636363;
        line-height: 1.5;
    }
}

.chatbots {
    .row {
        padding: 20px 0;
        justify-content: space-around;
    }

    .upper {
        justify-content: space-around;
    }

    .text-center {
        margin-top: 30px;
    }
}

.chatbot {
    @include col();
    @include size(6);
    @include size-md(12);
    @include size-xs(24);

    box-shadow: 0 0 150px rgba(0, 0, 0, .2);

    max-width: 250px;
    text-align: center;
    margin-bottom: 50px;


    &-inner {
        position: relative;
        background: #F2F2EC;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-img {
        // width: 100%;
        height: auto;
    }

    &-cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .4);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
    }

    &:hover &-cover {
        opacity: 1;
        visibility: visible;
    }

    &-heading {
        color: #8799a3;
        font-size: 16px;
        line-height: 21px;
        font-family: Montserrat;
        font-weight: 600;
        padding: 0 20px;
        margin: 20px 0;
        text-align: left;
    }
    .btn-primary {
        margin: 20px 0;
        box-shadow: none;
        padding: 0 25px;
    }
}

.work-process {
    padding: 80px 0;

    .title-primary {
        text-align: left;
    }

    .row {
        padding: 30px 0;
    }
    
    .stage {
        @include col();
        @include size(6);
        @include size-md(24);

    }

    .stage-icon {
        margin-bottom: 30px;
        position: relative;
        img {
            width: 70px;
        }


        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 50%;
            height: 6px;
            background: rgba(223,229,233,.7);
            left: 40%;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 5px;
        }
    }

    .stage:hover .stage-title {
        color: #0081ff;
    }

    .stage-title {
        font-size: 20px;
        line-height: 1.4em;
        margin-bottom: 18px;
        transition: all .3s;
        color: #252525;
        font-family: Montserrat;
        font-weight: 600;
    }
    .stage-text {
        color: #636363;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

@keyframes advantages-icon-animation{
    0% {
        transform: rotate(0deg) scale(1);
    }
    20% {
        transform: rotate(-15deg) scale(1.1);
    }
    40% {
        transform: rotate(15deg) scale(1.1);
    }
    60% {
        transform: rotate(-15deg) scale(1.1);
    }
    80% {
        transform: rotate(15deg) scale(1.1);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}